        html,body{
            height:100%;
            width: 100%;
            margin: 0;
        }
        page{
            height:100%;
            width: 100%;
            font-size: 139px;
            background-size: 100% 100%;
            position: absolute;
            color:aliceblue;
            height: 100%;
            width: 100%;
            padding-left: 38%;
            padding-top: 30%;
            margin: 0;
        }
        #a1{
            animation:anime 5s infinite;
            background-color: green;
        }
        #a2{
            animation:anime1 5s infinite;
            background-color: red;
            background-image: url(../B.png);
            color: orange;
        }
        #a3{
            animation:anime2 5s infinite;
            background-color: orange;
        }
        #a4{
            animation:anime3 5s infinite;
            background-color: black;
        }
        #y{
            font-size: 50px;
            display: block;
            color: yellow;
            animation:anime4 5s infinite;
        }
        @keyframes anime4{
            0% {
                opacity: 0;
            }
            25%{
                opacity:0;
            }
            50% {
                opacity: 0;
            }
            75%{
                opacity:0%;
            }
            90%{
                opacity:0%;
            }
            100%{
                opacity: 100;
            }
        }
        @keyframes anime{
            0% {
                opacity: 0;
            }
            25%{
                opacity:100;
            }
            50% {
                opacity: 0;
            }
            75%{
                opacity:0;
            }
            100%{
                opacity: 0;
            }
        }
        @keyframes anime1{
            0% {
                opacity: 0;
            }
            25%{
                opacity:0;
            }
            50% {
                opacity: 100;
            }
            75%{
                opacity:0;
            }
            100%{
                opacity: 0;
            }
        }
        @keyframes anime2{
          0% {
            opacity: 0;
          }
          25%{
            opacity:0;
          }
          50% {
            opacity: 0;
          }
          75%{
            opacity:100;
          }
          100%{
            opacity: 0;
          }
        }
        @keyframes anime3{
            0% {
                opacity: 0;
            }
            25%{
                opacity:0;
            }
            50% {
                opacity: 0;
            }
            75%{
                opacity:0;
            }
            100%{
                opacity: 100;
          }
        }